<div class='questionField'>
  <p>{{questionIndex+1}}/{{questionsAmount}}</p>
  <h2> {{questionsSortedByCategory[questionIndex].question}} </h2>
  <div class="testAnswerField ">
   <!-- (click)="selectAswer(questionsSortedByCategory[questionIndex].answer1, questionsSortedByCategory[questionIndex]._id)"
   > -->
    {{questionsSortedByCategory[questionIndex].answer1}}
  </div>

  <div class="testAnswerField">
   <!-- (click)="selectAswer(questionsSortedByCategory[questionIndex].answer2, questionsSortedByCategory[questionIndex]._id)"> -->
    {{questionsSortedByCategory[questionIndex].answer2}}
  </div>

  <div class="testAnswerField">
   <!-- (click)="selectAswer(questionsSortedByCategory[questionIndex].answer3, questionsSortedByCategory[questionIndex]._id)"> -->
    {{questionsSortedByCategory[questionIndex].answer3}}
  </div>

  <div class="testAnswerField" >
  <!-- (click)="selectAswer(questionsSortedByCategory[questionIndex].answer4, questionsSortedByCategory[questionIndex]._id)"> -->
    {{questionsSortedByCategory[questionIndex].answer4}}
  </div>


  <button class="mat-elevation-z8" color="primary" mat-raised-button type="submit" (click)="nextQuestion()">
    {{buttonValue}}
  </button>
  
</div>
